extends includes/layout

include includes/mixins

block content
  .wrapper
    // Use this mixin for sprite sheet icons
    // +icon('logo')(class='logo')
    .logo
      include /svg/logo.svg
    h1.title Nautilus
